<ul x-show="search !== ''">
    <template x-for="(recipe, index) in filteredRecipes" :key="index">
        <li class="text-xl leading-snug">
            <a class="flex items-baseline py-2 space-x-2" :href="recipe.url">
                <span class="flex-shrink-0 text-black text-opacity-75 hover:underline" x-text="recipe.title"></span>
                <div class="flex-1 text-black opacity-30"
                        style="border-bottom-style: dotted;
                            border-bottom-width: 4px;
                            border-color: black;
                            border-image-source: url('/assets/images/dotted-line.svg');
                            border-image-slice: 33% 33%;
                            border-image-repeat: round;">
                </div>
                <span class="flex-shrink-0 text-lg text-black text-opacity-50" x-text="index + 1"></span>
            </a>
        </li>
    </template>
</ul>
<div x-show="filteredRecipes.length === 0" class="flex justify-center w-full mt-8 text-3xl">
    No Results
</div>

<script>
    function loadRecipes() {
        return {
          search: "",
          myForData: sourceData,
          get filteredRecipes() {
            if (this.search === "") {
              return false;
            } else {
            return this.myForData.filter((item) => {
              return (item.title + item.searchTerms)
                .toLowerCase()
                .includes(this.search.toLowerCase());
            });
            }
          },
        };
      }
      const sourceData = [
        {% for recipe in collections.recipe %}{
            "title": "{{recipe.data.title}}",
            "url": "{{recipe.url}}",
            "searchTerms": [{% for term in recipe.data.searchterms %}"{{term}}"{{ '' if loop.last else ', ' }}{% endfor %}]
        }{{ '' if loop.last else ', ' }}
        {% endfor %}
    ]
</script>
