<nav class="fixed top-0 left-0 right-0 z-20 flex items-center justify-between w-full h-16 px-6 border-b border-black bg-gray-50 border-opacity-10 lg:hidden">
    <a href="/" class="p-5 -ml-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-black text-opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" vector-effect="non-scaling-stroke" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
    <h2 class="flex-1 font-semibold text-center">{{site.title}}</h2>
    <div class="w-4"></div>
</nav>
<div class="pt-16 lg:hidden"></div>
