---
permalink: /api/recipes.json
layout: blank
eleventyExcludeFromCollections: true
---
[
    {% for recipe in collections.recipe %}{
        "title": "{{recipe.data.title}}",
        "url": "{{recipe.url}}",
        "searchTerms": [{% for term in recipe.data.searchterms %}"{{term}}"{{ '' if loop.last else ', ' }}{% endfor %}]
    }{{ '' if loop.last else ', ' }}
    {% endfor %}
]
