{% include "components/_html-head.njk" %}
<body class="relative flex flex-col min-h-screen font-serif text-lg antialiased bg-gray-50">

<div class="container">
    {{ content | safe }}
</div>

{% include "components/_html-foot.njk" %}
