---
layout: default
---

<div class="relative py-16 site-grid gap-x-24 gap-y-6">
    <div class="relative flex flex-col h-full col-span-1">
        <nav>
            <a class="block text-base opacity-75 hover:underline" href="/">&#8592; Return to the recipe index</a>
        </nav>
        <aside class="sticky top-0">
            <div class="flex-1 py-8">
                <div class="space-y-4">
                <div class="flex items-baseline justify-between">
                        <h2 class="text-xl">Ingredients</h2>
                        <button class="text-base opacity-75 hover:underline" type="button" onclick="copyIngredients()">Copy to clipboard</button>
                    </div>
                    <span class="sr-only">
                        <textarea class="text-sm" name="" id="ingredientcopier">
                            {% for ingredient in ingredients %}
                                {{ ingredient }}
                            {% endfor %}
                        </textarea>
                    </span>
                    <ul class="space-y-2 opacity-75">
                        {% for ingredient in ingredients %}
                            <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
    </div>
    <div class="max-w-2xl col-span-2 mx-auto space-y-8">
        <header class="flex flex-col items-center space-y-8 text-center">
            <p class="text-base opacity-75">Adapted from {% if sourcelink %}<a target="_blank" class="underline" href="{{sourcelink}}">{{source}}</a>{% else %}{{source}}{% endif %}</p>
            <h1 class="-ml-1 text-5xl italic">{{title}}</h1>
            <figure>
                <img class="object-cover w-full max-w-72" src="{{image}}" alt="Image of {{title}}" style="height: 40vh">
            </figure>
        </header>
        <article class="col-span-2 space-y-8">
         <div class="prose">

           {{ content | safe }}</div>
        </article>
    </div>

<script>
function copyIngredients() {
  /* Get the text field */
  var copyText = document.getElementById("ingredientcopier");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");
}
</script>
